<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/admin-productos.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Productos Predeterminados | SuperBear</title>
</head>

<body>
    <!--Cada grupo debe tener su propio menu
    para eso es necesario que cada input tenga un id diferentes
    los for del label deben coincidir con el del input-->
    <%- include('partials/navegacionAdmin') %>
    <div class="principal">
        <header>
            <h1>Productos</h1>
            <a href="/create-default-object">
                <img src="assets/svg/plus.svg">
            </a>
        </header>
    </div>
    <div class="grid">

        <% for (let i=0; i < product.length; i++ ) { %>
            <div class="producto-predeterminado">
                <h3>
                    <%= product[i].nom_pro %>
                </h3>
                <label for="menu-<%=i%>">
                    <img class="opciones" src="assets/svg/options.svg">
                    <input id="menu-<%=i%>" type="checkbox">
                    <div class="desplegable">
                        <a href="/edit-default-product/<%=product[i].id_pro%>" class="b">
                            Editar Producto
                        </a>
                        <a href="/delete-default-product/<%=product[i].id_pro%>" class="b">
                            Borrar Producto
                        </a>
                    </div>
                </label>
            </div>
            <% } %>


    </div>
</body>

</html>