<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/admin-productos.css">
    <title>Consultar Noticias | SuperBear</title>
</head>
<body>
    <!--Cada grupo debe tener su propio menu
    para eso es necesario que cada input tenga un id diferentes
    los for del label deben coincidir con el del input-->
    <%- include('partials/navegacionAdmin') %>
    <div class="principal">
        <header>
            <h1>Noticias</h1>
            <a href="/crearNoticia">
                <img src="assets/svg/plus.svg">
            </a>
        </header>
    </div>
    <div class="grid">
        <% noticias.forEach(element => { %>
        <div class="producto-predeterminado">
            <p>
                <b><%= element.tit_not %></b>
                <br><br>
                <%= element.cont_not %>
            </p>
            <label for="menu-<%= element.idDNoticias %>">
                <img class="opciones" src="assets/svg/options.svg">
                <input id="menu-<%= element.idDNoticias %>" type="checkbox">
                <div class="desplegable">
                    <a href="/editarNoticia/<%= element.idDNoticias %>" class="b">
                        Editar Noticia
                    </a>
                    <a href="/borrarNoticia/<%= element.idDNoticias %>" class="b">
                        Borrar Noticia
                    </a>
                </div>
            </label>
        </div>
        <% }); %>
    </div>
</body>
</html>