<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="format-detection" content="telephone=no">

    <meta name="theme-color" content="#ffffff">
    <title>Agregar Producto | SuperBear</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/assets/svg/logo.svg" sizes="32x32">

    <!-- CSS Libraries-->
    <!-- bootstrap v4.6.0 -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!--
        theiconof v3.0
        https://www.theiconof.com/search
     -->
    <link rel="stylesheet" href="/assets/css/icons.css">
    <!-- Remix Icon -->
    <link rel="stylesheet" href="/assets/css/remixicon.css">
    <!-- Swiper 6.4.11 -->
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <!-- Owl Carousel v2.3.4 -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- normalize.css v8.0.1 -->
    <link rel="stylesheet" href="/assets/css/normalize.css">
</head>


<body>

    <!-- Start em_loading -->
    <section class="em_loading" id="loaderPage">
        <div class="spinner_flash"></div>
    </section>
    <!-- End. em_loading -->

    <div id="wrapper">
        <div id="content">
            <!-- Start main_haeder -->
            <header class="main_haeder header-sticky multi_item">
                <div class="em_side_right">
                    <a class="rounded-circle d-flex align-items-center text-decoration-none" href="app-pages.html">
                        <i class="tio-chevron_left size-24 color-text"></i>
                        <span class="color-text size-14">Regresar</span>
                    </a>
                </div>
                <div class="title_page">
                    <span class="page_name">
                        Agregar Producto
                    </span>
                </div>

            </header>
            <!-- End.main_haeder -->

            <!-- form -->
            <section class="padding-20">
                <form method="POST" id="CrearProForm" name="CrearProForm" class="padding-t-70">
                    <div class="margin-b-30">
                        <div class="form-group input-lined lined__iconed">
                            <div class="input_group">
                                <input type="text" class="form-control" id="inputNombre" name="nombre"
                                    placeholder="Nombre del producto" required="">
                                <div class="icon">
                                    <svg id="Iconly_Curved_Message" data-name="Iconly/Curved/Message"
                                        xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                        <g id="Message" transform="translate(2.248 2.614)">
                                            <path id="Stroke_1" data-name="Stroke 1"
                                                d="M10.222,0S7.279,3.532,5.127,3.532,0,0,0,0"
                                                transform="translate(3.613 5.653)" fill="none" stroke="#9498ac"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                                stroke-width="1.5" />
                                            <path id="Stroke_3" data-name="Stroke 3"
                                                d="M0,8.357C0,2.089,2.183,0,8.73,0s8.73,2.089,8.73,8.357-2.183,8.357-8.73,8.357S0,14.624,0,8.357Z"
                                                transform="translate(0 0)" fill="none" stroke="#9498ac"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                                stroke-width="1.5" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <label for="inputNombre">Nombre</label>
                        </div>
                        <p class="text-danger" id="msgerror1"></p>
                    </div>
                    <div class="margin-b-30">
                        <div class="form-group input-lined lined__iconed">
                            <select id="inputmarca" name="Marca" class="form-control custom-select">
                                <% Marca.forEach(element => { %>
                                    <option value="<%=element.id_mar %>"><%=element.Marca%></option>
                                    <%}); %>
                            </select>
                            <label>Marca</label>
                        </div>
                        <p class="text-danger" id="msgerror2"></p>
                    </div>
                    <div class="margin-b-30">
                        <div class="form-group input-lined lined__iconed">
                            <select id="inputsuper" name="supermercado" class="form-control custom-select">
                                <% Super.forEach(element => { %>
                                    <option value="<%=element.id_sup %>"><%=element.nom_sup%></option>
                                    <%}); %>
                            </select>
                            <label>Supermercado</label>
                        </div>
                        <p class="text-danger" id="msgerror3"></p>
                    </div>
                    <div class="margin-b-30">
                        <div class="form-group input-lined lined__iconed">
                            <select name="Depa" class="form-control custom-select">
                                <% Depa.forEach(element => { %>
                                    <option value=" <%=element.id_dep %>"><%=element.nom_dep%></option>
                                    <%}); %>
                            </select>
                            <label>Departamento</label>
                        </div>
                    </div>
                    <div class="margin-b-30">
                        <div class="form-group input-lined">
                            <div class="group">
                                <div class="itemCountr_manual horizontal itemButtons border-0 min-w-125">
                                    <a href="#" data-dir="down" class="btn btn_counter rounded-10 co_down border">
                                        <i class="tio-remove"></i>
                                    </a>
                                    <input type="text" class="form-control input_no color-secondary" value="0" id="inputcantidad" name="Cant">
                                    <a href="#" data-dir="up" class="btn btn_counter rounded-10 co_up bg-secondary">
                                        <i class="tio-add color-white"></i>
                                    </a>
                                </div>
                            </div>
                            <label>Cantidad</label>
                        </div>
                        <p class="text-danger" id="msgerror4"></p>
                    </div>
                    <div class="margin-b-30">
                        <div class="form-group input-lined lined__iconed">
                            <select name="Unidad" class="form-control custom-select">
                                <% Uni.forEach(element => { %>
                                    <option value=" <%=element.id_uni %>"><%=element.unidad%></option>
                                    <%}); %>
                            </select>
                            <label>Unidad</label>
                        </div>
                    </div>
                    <div class="margin-b-30">
                        <div class="form-group input-lined lined__iconed">
                            <div class="input_group">
                                <input value="0" type="number" class="form-control" id="inputprecio" name="Precio"
                                    placeholder="Precio del producto" required="">
                                <div class="icon">
                                    <svg id="Iconly_Curved_Message" data-name="Iconly/Curved/Message"
                                        xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                        <g id="Message" transform="translate(2.248 2.614)">
                                            <path id="Stroke_1" data-name="Stroke 1"
                                                d="M10.222,0S7.279,3.532,5.127,3.532,0,0,0,0"
                                                transform="translate(3.613 5.653)" fill="none" stroke="#9498ac"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                                stroke-width="1.5" />
                                            <path id="Stroke_3" data-name="Stroke 3"
                                                d="M0,8.357C0,2.089,2.183,0,8.73,0s8.73,2.089,8.73,8.357-2.183,8.357-8.73,8.357S0,14.624,0,8.357Z"
                                                transform="translate(0 0)" fill="none" stroke="#9498ac"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                                stroke-width="1.5" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <label for="inputprecio">Precio</label>
                        </div>
                        <p class="text-danger" id="msgerror5"></p>
                    </div>
                    <div class="margin-b-30">
                        <div class="form-group input-lined lined__iconed">
                            <div class="input_group">
                                <input type="text" class="form-control" id="inputanotaciones" name="Anotaciones"
                                    placeholder="Anotaciones del producto" required="">
                                <div class="icon">
                                    <svg id="Iconly_Curved_Message" data-name="Iconly/Curved/Message"
                                        xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                        <g id="Message" transform="translate(2.248 2.614)">
                                            <path id="Stroke_1" data-name="Stroke 1"
                                                d="M10.222,0S7.279,3.532,5.127,3.532,0,0,0,0"
                                                transform="translate(3.613 5.653)" fill="none" stroke="#9498ac"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                                stroke-width="1.5" />
                                            <path id="Stroke_3" data-name="Stroke 3"
                                                d="M0,8.357C0,2.089,2.183,0,8.73,0s8.73,2.089,8.73,8.357-2.183,8.357-8.73,8.357S0,14.624,0,8.357Z"
                                                transform="translate(0 0)" fill="none" stroke="#9498ac"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                                stroke-width="1.5" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <label for="inputanotaciones">Anotaciones</label>
                        </div>
                        <p class="text-danger" id="msgerror6"></p>
                    </div>
                    <input type="text" style="display: none;" value="<%=id.id_lis%>" readonly name="id_lis" >
                    <input type="text" style="display: none;" readonly name="producto" >
                </form>
            </section>
            <!-- buttons__footer -->
            <div class="buttons__footer text-center">
                <div class="env-pb">
                    <a href="javascript:{}" onclick="if(ValidarObjetoLista(event)){document.getElementById('CrearProForm').submit()}" class="btn bg-primary rounded-pill btn__default">
                        <span class="color-white">Agregar Producto</span>
                        <div class="icon rounded-circle">
                            <i class="tio-chevron_right"></i>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>

    <!-- jquery -->
    <script src="/assets/js/jquery-3.6.0.js"></script>
    <!-- popper.min.js 1.16.1 -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- bootstrap.js v4.6.0 -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Owl Carousel v2.3.4 -->
    <script src="/assets/js/vendor/owl.carousel.min.js"></script>
    <!-- Swiper 6.4.11 -->
    <script src="/assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- sharer 0.4.0 -->
    <script src="/assets/js/vendor/sharer.js"></script>
    <!-- short-and-sweet v1.0.2 - Accessible character counter for input elements -->
    <script src="/assets/js/vendor/short-and-sweet.min.js"></script>
    <!-- jquery knob -->
    <script src="/assets/js/vendor/jquery.knob.min.js"></script>
    <!-- main.js -->
    <script src="/assets/js/main.js" defer></script>
    <!-- PWA app service registration and works js -->
    <script src="/assets/js/pwa-services.js"></script>
    
    <!--validaciones mau-->
    <script src="/js/validaciones.js"></script>
</body>

</html>