<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mastersyle.css">
    <link rel="stylesheet" href="../css/formularios.css">
    <link rel="stylesheet" href="../css/datosProducto.css">
    <link rel="stylesheet" href="../css/voz.css">
    <link rel="shortcut icon" href="../assets/svg/logo.svg">
    <title>Agregar Producto | SuperBear</title>
</head>
<body>
    <nav class="flecha">
        <a href="/ConsultarProductos/<%=id.id_lis%>">
            <img src="../assets/svg/flecha.svg">
        </a>
    </nav>
    <div class="principal">
        <h1 class="centro">Agregar Producto</h1>
        <!--<a href="/CrearProductoPredeterminado/<%=id.id_lis%>">Agregar un producto predeterminado</a>-->
    </div>
    <div class="contenedor-formulario">
        <label for="enlace-voz" class="contenedor-voz">
            <img src="../assets/svg/microfono.svg">
            <a id="enlace-voz" href="/">
                <p>
                    <b>Dictar un producto por voz</b>
                </p>
            </a>
        </label>
    </div>
    <br>
    <div class="contenedor-formulario">
        <form method="POST" id="CrearProForm" name="CrearProForm">
            <p class="seccion">
                Nombre
            </p>
            <input type="text" placeholder="Nombre" id="inputNombre" name="nombre">
            <p class="rojo" id="msgerror1"></p>

            <p class="seccion">
                Marca
            </p>

            <select name="Marca">
                <% Marca.forEach(element => { %>
                    <option value="<%=element.id_mar %>"><%=element.Marca%></option>
                    <%}); %>
            </select>
            
            <p class="rojo" id="msgerror2"></p>

            <p class="seccion">
                Supermercado
            </p>
            <select name="supermercado">
                <% Super.forEach(element => { %>
                <option value="<%=element.id_sup %>"><%=element.nom_sup%></option>
                <%}); %>
            </select>
                        <p class="rojo" id="msgerror3"></p>

            <p class="seccion">
                Departamento
            </p>
            <select name="Depa">
                <% Depa.forEach(element => { %>
                    <option value=" <%=element.id_dep %>"><%=element.nom_dep%></option>
                    <%}); %>
            </select>
            <p class="seccion">
                Cantidad
            </p>
            <input type="number" id="inputcantidad" name="Cant" value="0">
            <p class="rojo" id="msgerror4"></p>

            <p class="seccion">
                Unidad
            </p>
            <select name="Unidad">
                <% Uni.forEach(element => { %>
                    <option value=" <%=element.id_uni %>"><%=element.unidad%></option>
                    <%}); %>
            </select>
            <p class="seccion">
                Precio
            </p>
            <input type="number" id="inputprecio" name="Precio" value="0">
            <p class="rojo" id="msgerror5"></p>

            <p class="seccion">
                Anotaciones
            </p>
            <input type="text" placeholder="Anotaciones" id="inputanotaciones" name="Anotaciones">
            <p class="rojo" id="msgerror6"></p>
            <input type="text" style="display: none;" value="<%=id.id_lis%>" readonly name="id_lis" >
            <br>
            <br>
            <div class="contenedor-boton">
                <input class="b" type="submit" value='Agregar' onclick="ValidarObjetoLista(event)">
            </div>
        </form>
    </div>
    <br>
    <script src="../js/validaciones.js"></script>

</body>
</html>