<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mastersyle.css">
    <link rel="stylesheet" href="../css/listas.css">
    <link rel="shortcut icon" href="../assets/svg/logo.svg">
    <style>
        .enlace-rutinas{
            background-color: var(--color-2);
            padding: 1rem;
            font-weight: bold;
            border-radius: 1rem;
        }
        .enlace-rutinas:hover{
            background-color: var(--color-1);
        }
    </style>
    <title>Listas del grupo</title>
</head>

<body>
    <!--Cada grupo debe tener su propio menu
    para eso es necesario que cada input tenga un id diferentes
    los for del label deben coincidir con el del input-->
    <%- include('partials/navegacionNormal') %>
    <div class="principal">
        <header>
            <h1>Listas de <%=nombre%></h1>
            <div>
                <a href="/crearlista/<%=idgrupo%>"><img src="../assets/svg/plus.svg"></a>
            </div>
        </header>
    </div>
    <!-- Enlace a rutinas escondido -->
    <!--<div class="principal">
        <a href="/consultarRutinas" class="enlace-rutinas">
            Consultar rutinas de grupo
        </a>
    </div>-->
    <br>
    <br>
    <div class="grid">
        <% let contador = 0; %>
        <% listas.forEach(element => { %>
            <% if (element.id_esList == 1){%>
        <div class="lista">
            <div class="nombre-lista">
                <a href="/ConsultarProductos/<%=element.id_lis %>">
                    <h2>
                        <%= element.nom_lis %>
                    </h2>
                </a>
                <label for="menu-<%=element.id_lis %>">
                    <img class="opciones" src="../assets/svg/options.svg">
                    <input id="menu-<%=element.id_lis %>" type="checkbox">
                    <div class="desplegable">
                        <!--<a href="/Duplicarlista/<%=element.id_lis %>/<%=idgrupo%>" class="b">
                            Duplicar Lista
                        </a>-->
                        <a href="/Borrarlista/<%= element.id_lis %>/<%=idgrupo%>" class="b">
                            Borrar Lista
                        </a>
                    </div>
                </label>
            </div>
            <a class="contenido-lista" href="/ConsultarProductos/<%=element.id_lis %>">
                <% for(let i = 0; i < 2; i++){ %>
                    <% if(preview[contador + i] != 'estoesuntextolargocomoplaceholder' && preview[contador + i] != undefined){ %>
                        <span class="producto">
                            <%= preview[contador + i].nom_pro %>
                        </span>
                        <span class="producto">
                            <% if(preview[contador + i].precio_pro != undefined){ %>
                                <%= preview[contador + i].precio_pro %>
                            <% }; %>
                        </span>
                    <% } %>
                <% } %>
            </a>
        </div>
        <% }%>
        <% contador = contador + 2; %>
        <% }); %>
    </div>
        <div class="principal">
        </div>
        <div class="grid">
            <% contador = 0; %>
            <% listas.forEach(element => { %>
                <% if (element.id_esList == 2){%>
            <div class="lista">
                <div class="nombre-lista">
                    <a href="/ConsultarProductos/<%=element.id_lis %>">
                        <h2>
                            <%= element.nom_lis %>
                        </h2>
                    </a>
                    <label for="menu-1">
                        <img class="opciones" src="../assets/svg/options.svg">
                        <input id="menu-1" type="checkbox">
                        <div class="desplegable">
                            <a href="/Duplicarlista/<%=element.id_lis %>" class="b">
                                Duplicar Lista
                            </a>
                            <a href="/Borrarlista/<%= element.id_lis %>/<%=idgrupo%>" class="b">
                                Borrar Lista
                            </a>
                        </div>
                    </label>
                </div>
                <a class="contenido-lista" href="/ConsultarProductos/<%=element.id_lis %>">
                    <% for(let i = 0; i < 2; i++){ %>
                        <% if(preview[contador + i] != 'estoesuntextolargocomoplaceholder' && preview[contador + i] != undefined){ %>
                    <span class="producto">
                        <%= preview[contador + i].nom_pro %>
                    </span>
                    <span class="producto">
                        <% if(preview[contador + i].precio_pro != undefined){ %>
                            <%= preview[contador + i].precio_pro %>
                        <% }; %>
                    </span>
                    <% } %>
                <% } %>
                </a>
            </div>
            <% } %>
            <% contador = contador + 2; %>
            <% }); %>
        </div>
        <br>
    <footer>
        <%- include('partials/footer') %>
    </footer>
    <script src="../js/detect-browser.js"></script>
    <script src="../js/barraNavegacion.js"></script>
</body>

</html>