<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="format-detection" content="telephone=no">

    <meta name="theme-color" content="#ffffff">
    <title>Listas de grupo</title>
    <meta name="description" content="Nepro – The Multipurpose Mobile HTML5 Template">
    <meta name="keywords"
        content="bootstrap 4, mobile template, 404, chat, about, cordova, phonegap, mobile, html, ecommerce, shopping, store, delivery, wallet, banking, education, jobs, careers, distance learning" />

    <!-- favicon -->
    <link rel="icon" type="image/png" href="../assets/svg/logo.svg" sizes="32x32">
    <link rel="apple-touch-icon" href="../assets/svg/logo.svg">

    <!-- CSS Libraries-->
    <!-- bootstrap v4.6.0 -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!--
        theiconof v3.0
        https://www.theiconof.com/search
     -->
    <link rel="stylesheet" href="../assets/css/icons.css">
    <!-- Remix Icon -->
    <link rel="stylesheet" href="../assets/css/remixicon.css">
    <!-- Swiper 6.4.11 -->
    <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css">
    <!-- Owl Carousel v2.3.4 -->
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../assets/css/main.css">
    <!-- normalize.css v8.0.1 -->
    <link rel="stylesheet" href="../assets/css/normalize.css">

    <!-- manifest meta -->
    <link rel="manifest" href="_manifest.json" />
</head>


<body class="bg-snow">

    <div id="wrapper">
        <div id="content">
           <!-- Start main_haeder -->
        <header class="main_haeder header-sticky multi_item">
            <div class="em_side_right">
                <a class="rounded-circle d-flex align-items-center text-decoration-none" href="/Misgrupos">
                    <i class="tio-chevron_left size-24 color-text"></i>
                    <span class="color-text size-14">Regresar</span>
                </a>
            </div>
            <div class="title_page">
                <span class="page_name">
                    Listas de <%=nombre%>
                </span>
            </div>
            <div class="em_side_right">
                <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=2fRL-ZeAlEet9qVGbKKFY_XRgAwHQ15Kgs8R0CvQ-EtUNUs2Sk9GNFVETDVGMVNKQ1BUWEQwS0RDSS4u" class="rounded-circle d-flex align-items-center text-decoration-none">
                    
                    <span class="color-text size-14">Mesa de ayuda</span>
                </a>
            </div>
            
        </header>
        <!-- End.main_haeder -->

        <section class="padding-t-70 components_page padding-b-30">
        <div class="emTitle_co padding-20">
        
        <h2 class="size-16 weight-500 color-secondary mb-1">Estás son tus listas del grupo <%=nombre%></h2>
        <p class="size-12 color-text m-0">Da click en la lista para ver las opciones disponibles</p>
        <br>
        
        <a href="/consultarRutinas/<%=idgrupo%>" class="btn bg-primary rounded-10 btn__default ml-3">
            <span class="color-white">Consultar rutinas</span>
            <div class="icon rounded-circle">
                <i class="tio-chevron_right"></i>
            </div>
        </a>
        <a href="/crearlista/<%=idgrupo%>" class="btn bg-primary rounded-10 btn__default ml-3">
            <span class="color-white">Crear lista</span>
            <div class="icon rounded-circle">
                <i class="tio-chevron_right"></i>
            </div>
        </a>
    </div>

       
            <!-- Modal Content -->
            <div class="modal transition-bottom screenFull defaultModal mdlladd__rate fade" id="mdllList_subTitle"
            tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header border-0 p-2 justify-content-center">
                        <!-- header -->
                    </div>
                    <div class="modal-body px-0">
                        <div class="emPage___profile bg-white env-pb">
                            <div class="emBody__navLink with__border">
                                <ul>
                                    <li class="item">
                                        <a id = "rut"  class="nav-link">
                                            <div class="media align-items-center">
                                                <div class="ico">
                                                    <?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-clock-outline" width="24" height="24" viewBox="0 0 24 24"><path d="M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M12.5,7V12.25L17,14.92L16.25,16.15L11,13V7H12.5Z" /></svg>
                                                        <g id="Show" transform="translate(2 4)">
                                                            <path id="Stroke_1" data-name="Stroke 1"
                                                                d="M6.323,3.162A3.162,3.162,0,1,1,3.161,0,3.162,3.162,0,0,1,6.323,3.162Z"
                                                                transform="translate(6.839 4.891)" fill="none"
                                                                stroke="#200e32" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-miterlimit="10"
                                                                stroke-width="1.5" opacity="0.4" />
                                                            <path id="Stroke_3" data-name="Stroke 3"
                                                                d="M9.248,14.6c3.808,0,7.291-2.738,9.252-7.3C16.539,2.738,13.056,0,9.248,0h0C5.444,0,1.961,2.738,0,7.3c1.961,4.564,5.444,7.3,9.252,7.3Z"
                                                                transform="translate(0.75 0.751)" fill="none"
                                                                stroke="#200e32" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-miterlimit="10"
                                                                stroke-width="1.5" />
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="media-body">
                                                    <div class="txt">
                                                        <h3>Añadir rutina</h3>
                                                        <p>Duplica una lista de tus productos cada cierto tiempo</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="side_right">
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a id="dup" href="#" class="nav-link">
                                            <div class="media align-items-center">
                                                <div class="ico">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="17.052"
                                                        height="19.865" viewBox="0 0 17.052 19.865">
                                                        <g id="Iconly_Two-tone_Paper_Fail"
                                                            data-name="Iconly/Two-tone/Paper Fail"
                                                            transform="translate(0.75 0.75)">
                                                            <g id="Paper_Fail" data-name="Paper Fail"
                                                                transform="translate(-0.75 -0.75)">
                                                                <path id="Stroke_1" data-name="Stroke 1"
                                                                    d="M10.487,0H3.729A3.729,3.729,0,0,0,0,3.729V14.578a3.8,3.8,0,0,0,3.94,3.775h7.883a3.768,3.768,0,0,0,3.729-3.775v-9.3Z"
                                                                    transform="translate(0.75 0.762)" fill="none"
                                                                    stroke="#200e32" stroke-linecap="round"
                                                                    stroke-linejoin="round" stroke-miterlimit="10"
                                                                    stroke-width="1.5" />
                                                                <path id="Stroke_3" data-name="Stroke 3"
                                                                    d="M0,0V2.909A2.574,2.574,0,0,0,2.568,5.484c1.317,0,2.664,0,2.755,0"
                                                                    transform="translate(10.974 0.75)" fill="none"
                                                                    stroke="#200e32" stroke-linecap="round"
                                                                    stroke-linejoin="round" stroke-miterlimit="10"
                                                                    stroke-width="1.5" />
                                                                <path id="Combined_Shape" data-name="Combined Shape"
                                                                    d="M1.733,1.733,0,3.466,1.733,1.733,0,0,1.733,1.733,3.466,0,1.733,1.733,3.466,3.466Z"
                                                                    transform="translate(8.343 8.464) rotate(45)"
                                                                    fill="none" stroke="#200e32" stroke-linecap="round"
                                                                    stroke-linejoin="round" stroke-miterlimit="10"
                                                                    stroke-width="1.5" opacity="0.4" />
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="media-body">
                                                    <div class="txt">
                                                        <h3>Duplicar lista</h3>
                                                        <p>Duplica una lista con todos sus productos</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="side_right">
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a id="eli" href="#" class="nav-link">
                                            <div class="media align-items-center">
                                                <div class="ico">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-delete" width="24" height="24" viewBox="0 0 24 24"><path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg>
                                                        <g id="Send" transform="translate(2.5 2.5)">
                                                            <path id="Stroke_1" data-name="Stroke 1"
                                                                d="M5.821,0,0,5.821" transform="translate(7.391 5.227)"
                                                                fill="none" stroke="#200e32" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-miterlimit="10"
                                                                stroke-width="1.5" opacity="0.4" />
                                                            <path id="Stroke_3" data-name="Stroke 3"
                                                                d="M7.391,11.048.576,6.881A1.2,1.2,0,0,1,.87,4.7L16.96.049a1.2,1.2,0,0,1,1.487,1.5L13.673,17.514a1.2,1.2,0,0,1-2.182.28l-4.1-6.746"
                                                                transform="translate(0 0)" fill="none" stroke="#200e32"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-miterlimit="10" stroke-width="1.5" />
                                                        </g>
                                                    </svg>

                                                </div>
                                                <div class="media-body">
                                                    <div class="txt">
                                                        <h3>Eliminar lista</h3>
                                                        <p>Elimina la lista con los productos añotados en ella</p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>

            <div class="emPage___profile accordion bg-white" id="accordionExample">
                <div class="emBody__navLink with__border">
                    <ul>
                        <% let contador = 0; %>
                        <% listas.forEach(element => { %>
                            <% if (element.id_esList == 1){%>
                                <script>
                                    function <%= element.nom_lis %>(){
                                       document.getElementById("rut").setAttribute("href" ,"/crearRutina/<%= element.id_lis %>/<%=idgrupo%>");
                                       document.getElementById("dup").setAttribute("href" ,"/Duplicarlista/<%=element.id_lis %>/<%=idgrupo%>");
                                       document.getElementById("eli").setAttribute("href" ,"/Borrarlista/<%= element.id_lis %>/<%=idgrupo%>");
                                    }
                                    
                                </script>
                        <li class="item">
                            <div id="headingFour">
                                <div class="nav-link main_item" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                    <div class="media align-items-center">
                                        <div class="ico">
                                            <svg id="Iconly_Two-tone_Document" data-name="Iconly/Two-tone/Document"
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24">
                                                <g id="Document" transform="translate(3 2)">
                                                    <path id="Stroke_1" data-name="Stroke 1" d="M7.22.5H0"
                                                        transform="translate(5.496 13.723)" fill="none"
                                                        stroke="#292e34" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-miterlimit="10"
                                                        stroke-width="1.5" opacity="0.4" />
                                                    <path id="Stroke_2" data-name="Stroke 2" d="M7.22.5H0"
                                                        transform="translate(5.496 9.537)" fill="none"
                                                        stroke="#292e34" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-miterlimit="10"
                                                        stroke-width="1.5" opacity="0.4" />
                                                    <path id="Stroke_3" data-name="Stroke 3" d="M2.755.5H0"
                                                        transform="translate(5.496 5.36)" fill="none"
                                                        stroke="#292e34" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-miterlimit="10"
                                                        stroke-width="1.5" opacity="0.4" />
                                                    <path id="Stroke_4" data-name="Stroke 4"
                                                        d="M12.158,0,4.469,0A4.251,4.251,0,0,0,0,4.607v9.2A4.254,4.254,0,0,0,4.506,18.41l7.689,0a4.252,4.252,0,0,0,4.47-4.6v-9.2A4.255,4.255,0,0,0,12.158,0Z"
                                                        transform="translate(0.751 0.75)" fill="none"
                                                        stroke="#292e34" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-miterlimit="10"
                                                        stroke-width="1.5" />
                                                </g>
                                            </svg>

                                        </div>
                                        
                                        <div class="media-body">
                                            <div class="txt">
                                                <h3><%= element.nom_lis %></h3>
                                                <% for(let i = 0; i < 3; i++){ %>
                                                    <% if(preview[contador + i] != 'estoesuntextolargocomoplaceholder' && preview[contador + i] != undefined){ %>
                                                        <p><%= preview[contador + i].nom_pro %></p>
                                                        
                                                    <% } %>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side_right">
                                        <i class="tio-chevron_right icon__arrow"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordionExample">
                                <div class="em__pkLink">
                                    <ul class="nav__list with_border fullBorder mb-0">
                                        <li class="border-0">
                                            <a href="/ConsultarProductos/<%=element.id_lis %>" class="item-link d-block">
                                                <div
                                                    class="padding-l-40 d-flex align-items-center justify-content-between">
                                                    <div class="group">
                                                        <div class="icon bg-yellow">
                                                            <svg id="Iconly_Two-tone_Activity"
                                                                data-name="Iconly/Two-tone/Activity"
                                                                xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24">
                                                                <g id="Activity" transform="translate(2 1.5)">
                                                                    <path id="Path_33966"
                                                                        d="M0,4.989,2.993,1.1,6.407,3.78,9.336,0"
                                                                        transform="translate(5.245 8.293)"
                                                                        fill="none" stroke="#200e32"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round"
                                                                        stroke-miterlimit="10" stroke-width="1.5"
                                                                        opacity="0.4" />
                                                                    <circle id="Ellipse_741" cx="1.922" cy="1.922"
                                                                        r="1.922"
                                                                        transform="translate(16.073 0.778)"
                                                                        fill="none" stroke="#200e32"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round"
                                                                        stroke-miterlimit="10" stroke-width="1.5" />
                                                                    <path id="Path"
                                                                        d="M12.146,0H4.879C1.867,0,0,2.133,0,5.144v8.082c0,3.011,1.831,5.135,4.879,5.135h8.6c3.011,0,4.879-2.124,4.879-5.135V6.188"
                                                                        transform="translate(0.778 1.62)"
                                                                        fill="none" stroke="#200e32"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round"
                                                                        stroke-miterlimit="10" stroke-width="1.5" />
                                                                </g>
                                                            </svg>

                                                        </div>
                                                        <span class="path__name">Consultar lista</span>
                                                    </div>
                                                    <div class="group">
                                                        
                                                        <i class="tio-chevron_right -arrwo"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="border-0">
                                            <a class="item-link d-block">
                                                <div
                                                    class="padding-l-40 d-flex align-items-center justify-content-between">
                                                    <div class="group">
                                                        <div class="icon bg-blue">
                                                            <svg id="Iconly_Two-tone_Discovery"
                                                                data-name="Iconly/Two-tone/Discovery"
                                                                xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24">
                                                                <g id="Discovery" transform="translate(2 2)">
                                                                    <path id="Path_33947"
                                                                        d="M0,6.682,1.593,1.593,6.682,0,5.089,5.089Z"
                                                                        transform="translate(6.27 6.27)" fill="none"
                                                                        stroke="#200e32" stroke-linecap="round"
                                                                        stroke-linejoin="round"
                                                                        stroke-miterlimit="10" stroke-width="1.5"
                                                                        opacity="0.4" />
                                                                    <circle id="Ellipse_738" cx="9.611" cy="9.611"
                                                                        r="9.611" transform="translate(0 0)"
                                                                        fill="none" stroke="#200e32"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round"
                                                                        stroke-miterlimit="10" stroke-width="1.5" />
                                                                </g>
                                                            </svg>
                                                        </div>
                                                        <span class="path__name">Descubre más opciones</span>
                                                    </div>
                                                
                                                    <div class="group">
                                                        <button type="button" class="btn btn_smView" data-toggle="modal"
                                                        data-target="#mdllList_subTitle" onclick="<%= element.nom_lis %>()"
                            
                                                        >Opciones</button>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </li>
                            <% }%>
                            <% contador = contador + 2; %>
                            <% }); %>
                        
                    </ul>
                </div>
            </div>
            <!-- End. emPage___profile  -->
        </section>
    


    </div>

    <!-- jquery -->
    <script src="../assets/js/jquery-3.6.0.js"></script>
    <!-- popper.min.js 1.16.1 -->
    <script src="../assets/js/popper.min.js"></script>
    <!-- bootstrap.js v4.6.0 -->
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- Owl Carousel v2.3.4 -->
    <script src="../assets/js/vendor/owl.carousel.min.js"></script>
    <!-- Swiper 6.4.11 -->
    <script src="../assets/js/vendor/swiper-bundle.min.js"></script>
    <!-- sharer 0.4.0 -->
    <script src="../assets/js/vendor/sharer.js"></script>
    <!-- short-and-sweet v1.0.2 - Accessible character counter for input elements -->
    <script src="../assets/js/vendor/short-and-sweet.min.js"></script>
    <!-- jquery knob -->
    <script src="../assets/js/vendor/jquery.knob.min.js"></script>
    <!-- main.js -->
    <script src="../assets/js/main.js" defer></script>
    <!-- PWA app service registration and works js -->
    <script src="../assets/js/pwa-services.js"></script>
</body>

</html>