<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Mi Perfil | SuperBear</title>
</head>
<style>
    nav{
        background-color: var(--color-2);
        display: grid;
        grid-template-columns: 40% 40% 20%;
    }
    nav a img{
        width: 2.8rem;
        height: 2.8rem;
    }
</style>
<body>
    <nav>
        <a href="consultarNoticias-usuario.html"><b>Noticias</b></a>
        <a href="consultarGrupos.html"><b>Grupos</b></a>
        <a class="icono" href="consultarDatosPerfil.html"><img src="assets/images/userIcon.jpg"></a>
    </nav>
    <div class="principal">
        <h1 class="centro">Mi Perfil</h1>
        <div class="contenedor-formulario">
            <form >
                <b>Datos Personales</b>
                <p class="seccion">Correo Electrónico</p>
                <input type="email" value=<%= user.cor_usu %> readonly>
                <p class="seccion">Nombre</p>
                <input type="text" value=<%= user.nom_usu %> readonly>
                <p class="seccion">Alcaldía</p>
                <input type="text" value="<%= user.alc %>" readonly>
                <p class="seccion">Fecha de Nacimiento</p>
                <input type="date" id="inputdate" name="fecha" value="<%= user.fec_nac %>" readonly>
                
                <p class="seccion">Género</p>
                <input type="text" value="<%= user.sexo %>" readonly>
                <br>
                <br>
                <div class="contenedor-boton">
                    <br>
                    <a class="b input" href="verificarpswd">Editar datos</a>
                    <br>
                    
                    <br>
                    <br>
                    <br><a class="b input" href="logout">Cerrar Sesión</a>
                </div>
            </form>
        </div>
    </div>
    <br>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>