<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="format-detection" content="telephone=no">

    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../../css/mastersyle.css" />
    <link rel="stylesheet" href="../../css/formularios.css">
    <link rel="shortcut icon" href="../../assets/svg/logo.svg" />
    <title>Consultar rutinas | SuperBear</title>
    <meta name="description" content="Nepro – The Multipurpose Mobile HTML5 Template">
    <meta name="keywords"
        content="bootstrap 4, mobile template, 404, chat, about, cordova, phonegap, mobile, html, ecommerce, shopping, store, delivery, wallet, banking, education, jobs, careers, distance learning" />

    <!-- favicon -->
    <link rel="icon" type="image/png" href="../../assets/svg/logo.svg" sizes="32x32">
    <link rel="apple-touch-icon" href="../../assets/../assets/svg/logo.svg">

    <!-- CSS Libraries-->
    <!-- bootstrap v4.6.0 -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <!--
        theiconof v3.0
        https://www.theiconof.com/search
     -->
    <link rel="stylesheet" href="../../assets/css/icons.css">
    <!-- Remix Icon -->
    <link rel="stylesheet" href="../../assets/css/remixicon.css">
    <!-- Swiper 6.4.11 -->
    <link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css">
    <!-- Owl Carousel v2.3.4 -->
    <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../assets/css/main.css">
    <!-- normalize.css v8.0.1 -->
    <link rel="stylesheet" href="../../assets/css/normalize.css">

    <!-- manifest meta -->
    <link rel="manifest" href="_manifest.json" />
</head>
<body>
    <header class="main_haeder header-sticky multi_item">
        <div class="em_side_right">
            <a class="rounded-circle d-flex align-items-center text-decoration-none" href="/consultarlistas/<%=grupo%>">
                <i class="tio-chevron_left size-24 color-text"></i>
                <span class="color-text size-14">Regresar</span>
            </a>
        </div>
        <div class="title_page">
            <span class="page_name">
                Consultar rutinas de la lista 
            </span>
        </div>
        <div class="em_side_right">
            <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=2fRL-ZeAlEet9qVGbKKFY_XRgAwHQ15Kgs8R0CvQ-EtUNUs2Sk9GNFVETDVGMVNKQ1BUWEQwS0RDSS4u" class="rounded-circle d-flex align-items-center text-decoration-none">
                
                <span class="color-text size-14">Mesa de ayuda</span>
            </a>
        </div>
        
    </header>
    <!--
        Es necesario definir una variable ruta para que sepa a donde llevar
    -->
    

    <div class="principal">
        <header>
            <h1>Consultar Rutinas</h1>
            <!--<div>
                <a href="/crearRutinas"><img src="../../assets/svg/plus.svg" /></a>
            </div>-->
        </header>
    </div>
    <% if(rutinas.length == 0){ %>
        <div class="principal">
            <h2> No tienes rutinas </h2>
        </div>
    <% } %> %>  
    <div class="grid">
        <!--Cada rutina debe tener su propio menu
        para eso es necesario que cada input tenga un id diferentes
        los for del label deben coincidir con el del input-->
        <!-- Vease consultarGrupos.ejs para tener un ejemplo-->
        <% rutinas.forEach(element => { %>
            <div class="rutina"> 
                <div class="rutina-contenedor">
                    
                    <label for="menu-<%= element.id_rut %>">
                        <b>
                            <a href="/ConsultarProductos/<%= element.id_lis %>">Lista <%= element.id_lis %> - <%= element.nombre %></a>
                        </b>
                        <br>
                        Cada <%= element.prd %> Días
                        
                        
                            
            
                    </label>
                </div>
                <div>
                <a href="/editarRutina/<%= element.id_rut %>/<%= element.id_grp %>" class="rutina-borrar">
                    Editar Rutina
                </a>
                <br>
                <a href="/borrarRutina/<%= element.id_rut %>/<%= element.id_grp %>" class="rutina-borrar">
                    Borrar rutina
                </a>
                </div>
            </div>
        <% }) %>
        <!-- jquery -->
<script src="../../assets/js/jquery-3.6.0.js"></script>
<!-- popper.min.js 1.16.1 -->
<script src="../../assets/js/popper.min.js"></script>
<!-- bootstrap.js v4.6.0 -->
<script src="../../assets/js/bootstrap.min.js"></script>

<!-- Owl Carousel v2.3.4 -->
<script src="../../assets/js/vendor/owl.carousel.min.js"></script>
<!-- Swiper 6.4.11 -->
<script src="../../assets/js/vendor/swiper-bundle.min.js"></script>
<!-- sharer 0.4.0 -->
<script src="../../../assets/js/vendor/sharer.js"></script>
<!-- short-and-sweet v1.0.2 - Accessible character counter for input elements -->
<script src="../../assets/js/vendor/short-and-sweet.min.js"></script>
<!-- jquery knob -->
<script src="../../assets/js/vendor/jquery.knob.min.js"></script>
<!-- main.js -->
<script src="../../assets/js/main.js" defer></script>
<!-- PWA app service registration and works js -->
<script src="../../assets/js/pwa-services.js"></script>    

<script src="../../js/validaciones.js"></script>
    <script src="../../js/detect-browser.js"></script>
    <script src="../../js/barraNavegacion.js"></script>
    </div>
</body>
</html>