<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/noticias.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Noticias | SuperBear</title>
    <style id="estilo">
        .contenedor-noticias{
            display: block;
        }
        
        .contenedor-twitter{
            display: none;
        }
    </style>
</head>
<body>
    <%- include('partials/navegacionNormal') %>
    <h1 class="centro">Noticias</h1>
    <aside>
        <div class="boton-1">
            <input value="noticias" checked id="noticias" type="radio" name="selector">
            <label for="noticias" class="etiqueta">
                <img class="boton-noticias" src="assets/svg/periodico.svg">
            </label>
        </div>
        <div class="boton-2">
            <input value="twitter" id="twitter" type="radio" name="selector">
            <label for="twitter" class="etiqueta">
                <img class="boton-noticias" src="assets/svg/twitter.svg">
            </label>
        </div>
    </aside>
    <div class="contenedor-noticias">
            <div class="grid">
                <% noticias.forEach(element => { %>
                <div class="noticia">
                    <h3 style="margin-top: 0;">
                        <%= element.tit_not %>
                    </h3>
                    <%= element.cont_not %>
                    <br>
                    <div class="fecha">
                        <% let mes = parseInt(element.fec_not.getMonth()) + 1 %>
                        <%= element.fec_not.getDate() + '-' + mes + '-' + element.fec_not.getFullYear() %>
                    </div>
                </div>
                <% }); %>
            </div>
    </div>
    <div class="contenedor-twitter">
        <div class="grid">
            <a class="twitter-timeline" href="https://twitter.com/Profeco?ref_src=twsrc%5Etfw">Tweets by Profeco</a>
        </div>
    </div>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="js/cambioPaginas.js"></script>
    <br>
    <footer>
        <%- include('partials/footer') %>
    </footer>
    <script src="../js/detect-browser.js"></script>
    <script src="../js/barraNavegacion.js"></script>
</body>
</html>