<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mastersyle.css">
    <link rel="stylesheet" href="css/listas.css">
    <link rel="shortcut icon" href="assets/svg/logo.svg">
    <title>Listas de <%= nombre %></title>
</head>

<body>
    <!--Cada grupo debe tener su propio menu
    para eso es necesario que cada input tenga un id diferentes
    los for del label deben coincidir con el del input-->
    <nav>
        <a href="consultarNoticias-usuario.html"><b>Noticias</b></a>
        <a href="consultarGrupos.html"><b>Grupos</b></a>
        <a class="icono" href="consultarDatosPerfil.html"><img src="assets/images/userIcon.jpg"></a>
    </nav>
    <div class="principal">
        <header>
            <h1>Listas de Pantitlan</h1>
            <div>
                <a href="/crearlista/<%= idg %>"><img src="assets/svg/plus.svg"></a>
            </div>
        </header>
    </div>
    <div class="principal">
        <h2>Listas Pendientes</h2>
    </div>
    <div class="grid">
        <% for (let i=0; i < listas.length; i++) {%>
            <% if (listas[i].id_esl == 1){%>
        <div class="lista">
            <div class="nombre-lista">
                <a href="/ConsultarProductos/<%= listas[i].id_lis %>">
                    <h2>
                        <%= listas[i].nom_lis %>
                    </h2>
                </a>
                <label for="menu-1">
                    <img class="opciones" src="assets/svg/options.svg">
                    <input id="menu-1" type="checkbox">
                    <div class="desplegable">
                        <a href="/Duplicarlista/<%= listas[i].id_lis %>" class="b">
                            Duplicar Lista
                        </a>
                        <a href="/Borrarlista/<%= listas[i].id_lis %>" class="b">
                            Borrar Lista
                        </a>
                    </div>
                </label>
            </div>
            <a class="contenido-lista" href="/ConsultarProductos/<%= listas[i].id_lis %>">
                <span class="producto">
                    Manzanas
                </span>
                <span class="producto">
                    1kg
                </span>
            </a>
        </div>
        <% }%>
        <% }%>
    </div>
        <div class="principal">
            <h2>Listas Completadas</h2>
        </div>
        <div class="grid">
            <% for (let i=0; i < listas.length; i++) {%>
                <% if (listas[i].id_esl == 0){%>
            <div class="lista">
                <div class="nombre-lista">
                    <a href="/ConsultarProductos/<%= listas[i].id_lis %>">
                        <h2>
                            <%= listas[i].nom_lis %>
                        </h2>
                    </a>
                    <label for="menu-1">
                        <img class="opciones" src="assets/svg/options.svg">
                        <input id="menu-1" type="checkbox">
                        <div class="desplegable">
                            <a href="/Duplicarlista/<%= listas[i].id_lis %>" class="b">
                                Duplicar Lista
                            </a>
                            <a href="/Borrarlista/<%= listas[i].id_lis %>" class="b">
                                Borrar Lista
                            </a>
                        </div>
                    </label>
                </div>
                <a class="contenido-lista" href="/ConsultarProductos/<%= listas[i].id_lis %>">
                    <span class="producto">
                        Manzanas
                    </span>
                    <span class="producto">
                        1kg
                    </span>
                </a>
            </div>
            <% }%>
            <% }%>

        </div>
        <br>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>

</html>