<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/mastersyle.css" />
    <link rel="stylesheet" href="css/grupos.css" />
    <link rel="shortcut icon" href="assets/svg/logo.svg" />
    <title>Mis Grupos | SuperBear</title>
    <style>
        label {
            height: fit-content;
        }
    </style>
</head>

<body>
    <%- include('partials/navegacionNormal') %>
    <div class="principal">
        <header>
            <h1>
                Mis Grupos <% if (user) { %>
                    <%= user.nom_usu %>
                        <% } %>
            </h1>
            <div>
                <a href="/nuevogrupo"><img src="assets/svg/plus.svg" /></a>
            </div>
        </header>
    </div>
    <!--Cada grupo debe tener su propio menu
    para eso es necesario que cada input tenga un id diferentes
    los for del label deben coincidir con el del input-->
    <div class="grid">
        <% if (user.grps) { %>
            <% for (let i=0; i < user.grps.length; i++ ) { %>
                <div class="grupo">
                    <div class="nombre-grupo">
                        <a href="/consultarlistas/<%=user.grps[i].id_grp %>">
                            <h1>
                                <%= user.grps[i].nom_grp %>
                            </h1>
                        </a>
                        <% if (user.grps[i].id_priv==1) { %>
                            <a href="/consultarmiembros/<%=user.grps[i].id_grp %>">
                                <b>Administrador</b>
                                <img src="assets/svg/IconoGruposSuperBear.svg" />
                                <b> 10 miembros </b>
                            </a>
                            <label for="menu-<%= i %> ">
                                <img class="opciones" src="assets/svg/options.svg" />
                                <input id="menu-<%= i %> " type="checkbox" />
                                <div class="desplegable">
                                    <a href="editarNombreGrupo-administradorDeGrupo.html" class="b">
                                        Renombrar Grupo
                                    </a>
                                    <a href="/deletegroup/<%=user.grps[i].id_grp%>" class="b">
                                        Borrar Grupo
                                    </a>
                                </div>
                            </label>
                            <% }else{ %>

                                <a href="/miembrosdegrupo/<%=user.grps[i].id_grp%>">
                                    <img src="assets/svg/IconoGruposSuperBear.svg" />
                                    <b> 10 miembros </b>
                                </a>
                            <% } %>

                            
                    </div>
                    <div class="contenido-grupo">
                        <a href="/consultarlistas/<%=user.grps[i].id_grp %>">
                            <div>
                                <b>Jabones</b>
                            </div>
                            <div>
                                <b>10/15 Completado</b>
                            </div>
                        </a>
                        <a href="/consultarlistas/<%=user.grps[i].id_grp %>">
                            <div>
                                <b>Carnes frías</b>
                            </div>
                            <div>
                                <b>10/15 Completado</b>
                            </div>
                        </a>
                    </div>
                </div>
            <% } %>
        <% } %>               
    </div>
    <br />
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>

</html>
