<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mastersyle.css">
    <link rel="stylesheet" href="../css/formularios.css">
    <link rel="stylesheet" href="../css/miembros.css">
    <link rel="shortcut icon" href="../assets/svg/logo.svg">
    <title>Miembros de Pantitlan | SuperBear</title>
</head>

<body>
    <nav class="flecha">
        <a href="/misgrupos">
            <img src="../assets/svg/flecha.svg">
        </a>

    </nav>
    <br>
    <header>
        <div class="principal">
            <h1 class="centro">Miembros del Grupo Pantitlan</h1>
        </div>
        <a href="/abandonargrupo/<%=grupo%>/<%=id_usuario%>">
            <p style="text-align: middle; "> <img src="../assets/svg/exit.svg" height="40px">
                Abandonar Grupo</p>
        </a>
    </header>
    <div class="grid">
        <% for (let i=0; i < miembros.length; i++) { %>


            <div class="miembro">
                <img src="../assets/svg/iconoSuperBear.svg">
                <b>
                    <%=miembros[i]%>
                </b>
                <b class="centro" href="consultarMiembrosyCodigoDeGrupo-administadorDeGrupo.html">
                    <% if(privilegio[i]==1){ %>
                        <%="Admin"%>
                            <% }else{ %>
                                <%="Miembro"%>
                                    <% } %>
                </b>
            </div>

            <%}%>
    </div>
    </div>
    <br>
</body>

</html>