<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/mastersyle.css">
    <link rel="stylesheet" href="../../css/formularios.css">
    <link rel="stylesheet" href="../../css/datosProducto.css">
    <link rel="shortcut icon" href="../../assets/svg/logo.svg">
    <style>
        
    </style>
    <title>Editar Producto | SuperBear</title>
</head>
<body>
    <nav class="flecha">
        <a href="/ConsultarProductos/<%= id_grupo[0].id_lst %>">
            <img src="../../assets/svg/flecha.svg">
        </a>
    </nav>
    <div class="principal">
        <h1 class="centro">
            Editar Producto
        </h1>
    </div>
    <div class="contenedor-formulario">
        <form method="post" action="/editarProductosDeLista/<%= id_prod %>/<%= id_lis %>">
            <p class="seccion">
                Nombre
            </p> 
            <input name="nombre" type="text" value="<%= producto[0].nom_pro %>" placeholder="Nombre" id="inputnombre">
            <p class="seccion">
                Marca
            </p>
            <select name="marca">
                <% Marca.forEach(element => { %>
                    <option <% if(producto[0].id_mar == element.id_mar){%> selected <% } %> value="<%=element.id_mar %>"><%=element.Marca%></option>
                    <%}); %>
            </select>
            <p class="seccion">
                Supermercado
            </p>
            <select name="supermercado">
                <% Super.forEach(element => { %>
                <option <% if(producto[0].id_sup == element.id_sup){%> selected <% } %> value="<%=element.id_sup %>"><%=element.nom_sup%></option>
                <%}); %>
            </select>
            <p class="seccion">
                Departamento
            </p>
            <select name="depa">
                <% Depa.forEach(element => { %>
                    <option <% if(producto[0].id_dep == element.id_dep){%> selected <% } %> value="<%=element.id_dep %>"><%=element.nom_dep%></option>
                    <%}); %>
            </select>
            <p class="seccion">
                Cantidad
            </p>
            <input name="cantidad" value="<%= producto[0].can_pro %>" type="number" placeholder="Cantidad" id="inputcantidad">
            <p class="seccion">
                Unidad
            </p>
            <select name="unidad">
                <% Uni.forEach(element => { %>
                    <option <% if(producto[0].id_uni == element.id_uni){%> selected <% } %> value="<%=element.id_uni %>"><%=element.unidad%></option>
                    <%}); %>
            </select>
            <p class="seccion">
                Precio
            </p>
            <input name="precio" type="number" value="<%= producto[0].precio_pro %>" placeholder="Precio $" id="inputprecio">
            <p class="seccion">
                Anotaciones
            </p>
            <input name="anotaciones" type="text" value="<%= producto[0].notas_pro %>" placeholder="Anotaciones" id="inputanotaciones">
            <br>
            <br>
            <div class="contenedor-boton">
                <input class="b" type="submit" value='Guardar' onclick="ValidarObjetoLista(event)">
            </div>
        </form>
    </div>
    <br>
    <script src="../../js/validaciones.js"></script>

</body>
</html>